body{
	overflow: hidden;
}
.one{
	background-color: #f47536;
	height: 1080px;
}

.two{
	background-color: #E96130;
	height: 1080px;
	overflow: hidden;
}

.three{
	background-color: #231F20;
	height: 1080px;
}

p{
	display: none;
}